*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 480px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 240, 222);
}

.param{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
 margin-top:20px;
 max-width: 150px;
 max-width: 150px;

}
h1{
font-size: 40px;
text-align:  center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding:20px;
color: blue;
}
p{
font-size:20px;
margin-bottom:30px;
color:rgb(248, 111, 134);
}

button{
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: transparent;
    border-color:rgb(255, 0, 0) ;
    color:rgb(255, 149, 197);
}
